Repository SciSharp/TensorFlow.NET, pull requests merged in 2023-05, with the labels that each got.

#1047 ci: add ci for test and auto-release.
  .github/workflows/build_and_test.yml
  .github/workflows/release.yml
  .github/workflows/semantic.yml
  TensorFlow.NET.sln
  helpers/Tensorflow.UnitTest.RedistHolder/EmptyClass.cs
  helpers/Tensorflow.UnitTest.RedistHolder/Tensorflow.UnitTest.RedistHolder.csproj
  src/TensorFlowNET.Core/NumPy/NDArray.Operators.cs
  src/TensorFlowNET.Core/Tensorflow.Binding.csproj
  src/TensorFlowNET.Keras/Tensorflow.Keras.csproj
  src/TensorflowNET.Hub/Tensorflow.Hub.csproj
  test/TensorFlowNET.Graph.UnitTest/TensorFlowNET.Graph.UnitTest.csproj
  test/TensorFlowNET.Keras.UnitTest/Layers/ActivationTest.cs
  test/TensorFlowNET.Keras.UnitTest/Layers/AttentionTest.cs
  test/TensorFlowNET.Keras.UnitTest/Losses/LossesTest.cs
  test/TensorFlowNET.Keras.UnitTest/Tensorflow.Keras.UnitTest.csproj
  test/TensorFlowNET.Native.UnitTest/Tensorflow.Native.UnitTest.csproj
  test/TensorFlowNET.UnitTest/Tensorflow.Binding.UnitTest.csproj
  test/TensorflowNET.Hub.Unittest/Tensorflow.Hub.Unittest.csproj
Labels: test

#1049 fix: partially fix the error when saving model after loading.
  src/TensorFlowNET.Core/Checkpoint/CheckPointUtils.cs
  src/TensorFlowNET.Core/Training/Saving/SavedModel/SaveableView.cs
  src/TensorFlowNET.Core/Variables/BaseResourceVariable.cs
  src/TensorFlowNET.Keras/Saving/KerasObjectLoader.cs
  src/TensorFlowNET.Keras/Saving/SavedModel/load.cs
  test/TensorFlowNET.Keras.UnitTest/Model/ModelSaveTest.cs
Labels: bug, model save/load, keras

#1052 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1053 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1054 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1055 ci: update release ci.
  .github/workflows/release.yml
  .github/workflows/release_prepare.yml
Labels: auto-release

#1056 ci: update release ci.
  .github/workflows/release.yml
  .github/workflows/release_prepare.yml
Labels: auto-release

#1057 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1058 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1059 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1060 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1061 ci: update release ci.
  .github/workflows/release.yml
Labels: auto-release

#1062 ci: update release ci and readme.md.
  .github/workflows/release.yml
  README.md
Labels: auto-release

#1068 fix: error when using graph in multi-threads.
  src/TensorFlowNET.Core/Device/DeviceSpec.cs
  test/TensorFlowNET.UnitTest/Basics/ThreadSafeTest.cs
Labels: bug, auto-release

#1078 fix: can't implement len for KerasShapesWrapper & Add bias implement to Conv2DTranspose.Call()
  src/TensorFlowNET.Keras/Layers/Convolution/Conv2DTranspose.cs
Labels: bug, auto-release

#1079 fix: status null reference of base session.
  src/TensorFlowNET.Core/Sessions/BaseSession.cs
Labels: bug

#1071 build: add scripts to split large native library file.
  .github/workflows/build_and_test.yml
  TensorFlow.NET.sln
  src/TensorFlowNET.Core/tensorflow.cs
  test/TensorFlowNET.Graph.UnitTest/TensorFlowNET.Graph.UnitTest.csproj
  test/TensorFlowNET.Keras.UnitTest/Tensorflow.Keras.UnitTest.csproj
  test/TensorFlowNET.Native.UnitTest/Lite/TfLiteTest.cs
  test/TensorFlowNET.Native.UnitTest/Tensorflow.Native.UnitTest.csproj
  test/TensorFlowNET.UnitTest/Tensorflow.Binding.UnitTest.csproj
  test/TensorflowNET.Hub.Unittest/Tensorflow.Hub.Unittest.csproj
  tools/TensorFlowNET.Benchmarks/Crash/RepeatDataSetCrash.cs
  tools/TensorFlowNET.Benchmarks/Leak/GpuLeakByCNN.cs
  tools/TensorFlowNET.Benchmarks/Leak/SavedModelCleanup.cs
  tools/TensorFlowNET.Benchmarks/Leak/TestModel/saved_model/saved_model.pb
  tools/TensorFlowNET.Benchmarks/Leak/TestModel/saved_model/variables/variables.data-00000-of-00001
  tools/TensorFlowNET.Benchmarks/Leak/TestModel/saved_model/variables/variables.index
  tools/TensorFlowNET.Benchmarks/Program.cs
  tools/TensorFlowNET.Benchmarks/README.md
  tools/TensorFlowNET.Benchmarks/TensorBenchmark.cs
  tools/TensorFlowNET.Benchmarks/Tensorflow.Benchmark.csproj
  tools/TensorFlowNET.Benchmarks/Unmanaged/StructCastBenchmark.cs
  tools/TensorFlowNET.Console/Diagnostician.cs
  tools/TensorFlowNET.Console/Exploring.cs
  tools/TensorFlowNET.Console/MemoryBasicTest.cs
  tools/TensorFlowNET.Console/MemoryFuncGraphTest.cs
  tools/TensorFlowNET.Console/MemoryKerasTest.cs
  tools/TensorFlowNET.Console/MemoryMonitor.cs
  tools/TensorFlowNET.Console/Program.cs
  tools/TensorFlowNET.Console/SimpleRnnTest.cs
  tools/TensorFlowNET.Console/Tensorflow.Console.csproj
  tools/Tensorflow.CodeGen/DescriptionGenerator.cs
  tools/Tensorflow.CodeGen/FunctionGenerator.cs
  tools/Tensorflow.CodeGen/GenOpsWriter.cs
  tools/Tensorflow.CodeGen/OpClassifier.cs
  tools/Tensorflow.CodeGen/Program.cs
  tools/Tensorflow.CodeGen/Tensorflow.CodeGen.csproj
  tools/Tensorflow.CodeGen/Utils.cs
  tools/Tensorflow.Redist.NativeLibrarySplitter/Program.cs
  tools/Tensorflow.Redist.NativeLibrarySplitter/Tensorflow.Redist.NativeLibrarySplitter.csproj
  tools/Tensorflow.UnitTest.RedistHolder/EmptyClass.cs
  tools/Tensorflow.UnitTest.RedistHolder/Tensorflow.UnitTest.RedistHolder.csproj
  tools/scripts/Copy-NativeTensorFlowLibs.ps1
  tools/tensorflowlib/README.md
Labels: enhancement

#1086 fix: temporarily fix the sequential nest error.
  src/TensorFlowNET.Core/Training/Saving/SavedModel/save.cs
  src/TensorFlowNET.Keras/Engine/Layer.Apply.cs
  src/TensorFlowNET.Keras/Engine/Layer.cs
  src/TensorFlowNET.Keras/Engine/Sequential.cs
  test/TensorFlowNET.Keras.UnitTest/Model/ModelBuildTest.cs
Labels: bug
